<a href="https://colab.research.google.com/github/caioziin/Aula-PHYTHON/blob/main/phyrhon10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nomes = [ 'ze', 'tiao', 'joaquim']
nomes.append('julia')

#vários valores
outrosNomes = ['Ana' ,'Zabé' ,'Maria']

nomes.extend(outrosNomes)

nomes

['ze', 'tiao', 'joaquim', 'julia', 'Ana', 'Zabé', 'Maria']

In [ ]:
#Crie uma lista de numeros 
numeros = [2,4,6,8,7,5]
#remova o primeiro numero da lista
numeros.remove(numeros[0])
#remova o ultimo numero da lista
numeros.pop()

numeros

[4, 6, 8, 7]

-ORDENAÇÃO DE ELEMENTOS

º lista.sort( - ordena em ordem

In [ ]:
#1 - Crie uma lista de notas, e exiba-a da menor para maior
notas = [2,10,4,7,3,8]
nomes = ['Ademar', 'Maristênio', 'Asdrúbal', 'Leo']
notas.sort()
notas.sort(reverse=True)
#2 - Crie uma lista de nomes de frutas e ordene-a em ordem 

nomes

['Ademar', 'Maristênio', 'Asdrúbal', 'Leo']

° Função map() serve para aplicar uma função a cada elemento dispensando o uso  de um loop(for ou while)
°map(função,sequencia)
°Função filter() serve para filtrar elementos de uma sequencia

In [ ]:
#Exemplo funçaõ map - cria uma nova lista com o dobro 
numeros = [15,12,6,3]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[30, 24, 12, 6]

In [ ]:
#Pegar cada um dos numeros acima e dividir por 3
numDivi = list(map(lambda x : x/3, numeros))

numDivi

[5.0, 4.0, 2.0, 1.0]

In [ ]:
#Pega cada numero e some 2 
numSoma = list(map(lambda x : x+2, numeros))

numSoma

[17, 14, 8, 5]

In [ ]:
#Exemplo função filter - a partir de uma lista de nomes 
nomes = ['josé', 'joaquim', 'caio', 'paulo', 'rodrigo', 'lewandowski']

newlist = list(filter(lambda x : len(x)>5, nomes))

newlist

['joaquim', 'rodrigo', 'lewandowski']

In [ ]:
#Crie uma lista de notas, imprime apenas as maiores que 6
notas = [5,6,8,9,12]

newlist = list(filter(lambda x : x>6, notas))

newlist

[8, 9, 12]

In [ ]:
#Dado uma lista de numeros retorne o quadrado de cada numero
notas = [5,2,9,4]

newlist = list(map(lambda x : x*x, notas))

newlist

[25, 4, 81, 16]

In [2]:
#Dado uma lista de nomes, retorne uma lista contendo o tamanho de cada nome
nomes = ['caio', 'paulo','julia', 'karol', 'Arnold', 'Hermanito']
newlist = list(map(lambda x : len(x), nomes))

newlist

[4, 5, 5, 5, 6, 9]

In [3]:
#Dada uma lista de numeros, retorne uma lista contendo apenas os numeros pares
numeros = [2,5,9,7,8,4]
newlist = list(map(lambda x : x%2==0, numeros))

newlist

[True, False, False, False, True, True]